body {
    background-color: #2c3e50;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #2c3e50;
    margin: 0 auto;
    background-image: url(../images/subwaydjprof.jpg);
    background-size: 100%;
    background-position: fixed absolute;
    background-repeat: no-repeat;
}

ul, ol {
    list-style: none;
}

/* Gridster styles */
.demo {
    margin: 0;
    padding: 7.5em 0 7.5em;
    background-image: url(../images/subwaydjprof.jpg);
    background-size: 100%;
    background-position: fixed absolute;
    background-repeat: no-repeat;

}


.gridster {
    width: 1200px;
    margin: 0 auto;
    opacity: .5;
    -webkit-transiton: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: black;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    text-align: center;
    padding: 5px;
}
.gridster img {

}

.gridster .gs_w a {
  padding: 10px;
  display: block;
  background-color:black;
}
.gridster:hover {
  opacity: .9;
}
.ipodbutton {
  height:40%;
  width:60%;
  border-radius:110px;
  background-color:black;
  background-position: center;
  margin-left: 60px;
  border: 2px solid #c0392b;
}
ul {
  padding:0;
  color:#DB0A5B;;
}
li.gs_w a{
  text-decoration: none;
  color:#DB0A5B;
}
li.gs_w a:hover{
  color:purple;
}

li.gs_w:hover {
  opacity: .9;
  background-color: black;
}
li.ipod.gs_w:hover {
  background-color: black;
  opacity: .8;
}
li#pause.fa.fa-pause.fa-2x {
  text-align: center;
  margin-top: 8%;
  margin-left:4%;
}
li#backword.fa.fa-fast-backward.fa-2x {
  margin-top: 17%;
  margin-right: 18%;
}
li#forward.fa.fa-fast-forward.fa-2x {
  margin-top: 17%;
  margin-left: 35%;
}
li#play.fa.fa-play.fa-2x {
  text-align: center;
  margin-top: 19%;
  margin-left:3%;
}
section.demo {
  padding-top:20px;
}
li#col3.link.gs_w {
  margin-top: 500px;
  margin-left: 400px;
}
.eventbutton {
  font-size: 1em;
  padding: 5px;
  margin: 10px;
  background-color: black;
  border:none;
  color:#DB0A5B;
}
.eventname {
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  color:#DB0A5B;
}

.eventlist {
  font-family: "consolas";
}
